* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 1.6;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  body {
    font-size: 1.1111111111vw;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 3.7333333333vw;
    line-height: 1.4;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.pc {
  display: block;
}
@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .sp {
    display: block;
  }
}

.c-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-container {
  width: 1280px;
  margin: 0 auto;
}

.c-sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .c-sns-list {
    gap: 1.3888888889vw;
  }
}
@media screen and (max-width: 767px) {
  .c-sns-list {
    gap: 5.3333333333vw;
    margin-top: 8vw;
  }
  .c-sns-list.is-humburger-menu {
    margin-top: 5.3333333333vw;
  }
}
.c-sns-list .item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .c-sns-list .item {
    width: 2.7777777778vw;
    height: 2.7777777778vw;
  }
}
@media screen and (max-width: 767px) {
  .c-sns-list .item {
    width: 10.6666666667vw;
    height: 10.6666666667vw;
  }
}
.c-sns-list .item:hover {
  background-color: #F8A721;
}
.c-sns-list .item:hover .icon.is-black {
  opacity: 0;
}
.c-sns-list .item:hover .icon.is-white {
  opacity: 1;
}
.c-sns-list .item-fb .icon {
  width: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .c-sns-list .item-fb .icon {
    width: 0.6944444444vw;
  }
}
@media screen and (max-width: 767px) {
  .c-sns-list .item-fb .icon {
    width: 2.6666666667vw;
  }
}
.c-sns-list .item-chat .icon {
  width: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .c-sns-list .item-chat .icon {
    width: 1.3888888889vw;
  }
}
@media screen and (max-width: 767px) {
  .c-sns-list .item-chat .icon {
    width: 5.3333333333vw;
  }
}
.c-sns-list .item-zalo .icon {
  width: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .c-sns-list .item-zalo .icon {
    width: 1.7361111111vw;
  }
}
@media screen and (max-width: 767px) {
  .c-sns-list .item-zalo .icon {
    width: 6.6666666667vw;
  }
}
.c-sns-list .item-phone .icon {
  width: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .c-sns-list .item-phone .icon {
    width: 1.0416666667vw;
  }
}
@media screen and (max-width: 767px) {
  .c-sns-list .item-phone .icon {
    width: 4vw;
  }
}
.c-sns-list .link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.c-sns-list .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.c-sns-list .icon.is-white {
  opacity: 0;
}

.c-fixed-contact {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .c-fixed-contact {
    right: 0.6944444444vw;
    bottom: 0.6944444444vw;
  }
}
@media screen and (max-width: 767px) {
  .c-fixed-contact {
    right: 4vw;
    bottom: 4vw;
  }
}
.c-fixed-contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .c-fixed-contact-list {
    gap: 1.3888888889vw;
  }
}
@media screen and (max-width: 767px) {
  .c-fixed-contact-list {
    gap: 5.3333333333vw;
  }
}
.c-fixed-contact-list .item {
  width: 55px;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .c-fixed-contact-list .item {
    width: 3.8194444444vw;
  }
}
@media screen and (max-width: 767px) {
  .c-fixed-contact-list .item {
    width: 12vw;
  }
}
.c-fixed-contact-list .item img {
  -webkit-animation-name: tada;
          animation-name: tada;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
            transform: scale(0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
            transform: scale(1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
            transform: scale(1.1) rotate(-3deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
            transform: scale(0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg);
            transform: scale(1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
            transform: scale(1.1) rotate(-3deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
}
.c-fixed-contact-list .item.is-call {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #B72623;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .c-fixed-contact-list .item.is-call {
    width: 4.1666666667vw;
    height: 4.1666666667vw;
  }
}
@media screen and (max-width: 767px) {
  .c-fixed-contact-list .item.is-call {
    width: 14.4vw;
    height: 14.4vw;
  }
}
.c-fixed-contact-list .item.is-call .link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.c-fixed-contact-list .item.is-call .link::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #B72623;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .c-fixed-contact-list .item.is-call .link::before {
    width: 3.4722222222vw;
    height: 3.4722222222vw;
  }
}
@media screen and (max-width: 767px) {
  .c-fixed-contact-list .item.is-call .link::before {
    width: 13.3333333333vw;
    height: 13.3333333333vw;
  }
}
.c-fixed-contact-list .item.is-call .img-wrap {
  width: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .c-fixed-contact-list .item.is-call .img-wrap {
    width: 1.5972222222vw;
  }
}
@media screen and (max-width: 767px) {
  .c-fixed-contact-list .item.is-call .img-wrap {
    width: 6.1333333333vw;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95px;
  padding: 0 40px;
  background: #fff;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .header {
    height: 6.5972222222vw;
    padding: 0 2.7777777778vw;
  }
}
@media screen and (max-width: 767px) {
  .header {
    height: 17.3333333333vw;
    padding: 0 4vw;
    z-index: 1;
  }
}
.header .logo .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  gap: 5px;
}
.header .logo .link img {
  width: 35px;
}
.header .logo .link .name {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .header .logo .link {
    gap: 0.3472222222vw;
  }
  .header .logo .link img {
    width: 2.4305555556vw;
  }
  .header .logo .link .name {
    font-size: 1.1111111111vw;
  }
}
@media screen and (max-width: 767px) {
  .header .logo .link {
    gap: 1.3333333333vw;
  }
  .header .logo .link img {
    width: 9.3333333333vw;
  }
  .header .logo .link .name {
    font-size: 4.2666666667vw;
  }
}
.header .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.header .menu .link {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .menu .link:hover, .header .menu .link.active {
  color: #B72623;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .header .menu-list {
    gap: 2.7777777778vw;
  }
  .header .menu .link {
    font-size: 0.9722222222vw;
  }
}
@media screen and (max-width: 767px) {
  .header .menu {
    width: 100%;
    max-height: 75vh;
    overflow-y: scroll;
    position: absolute;
    top: 17.3333333333vw;
    left: 0;
    padding: 4vw;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header .menu.is-open {
    opacity: 1;
    visibility: visible;
  }
  .header .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .header .menu-list .item:not(:first-child) {
    border-top: 1px solid #000;
  }
  .header .menu-list .link {
    display: block;
    font-size: 4.2666666667vw;
    font-weight: 500;
    line-height: 1.6;
    padding: 4vw 2.6666666667vw;
  }
}

@media screen and (max-width: 767px) {
  .l-menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 17.3333333333vw;
    left: 0;
    background-color: rgb(248, 167, 33);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .l-menu-overlay.is-open {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 767px) {
  .menu-line {
    width: 6.6666666667vw;
    height: 4.2666666667vw;
    position: relative;
  }
  .menu-line.is-open .menu-line-item:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 2.1333333333vw;
  }
  .menu-line.is-open .menu-line-item:nth-child(2) {
    opacity: 0;
  }
  .menu-line.is-open .menu-line-item:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 2.1333333333vw;
  }
  .menu-line-item {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-line-item:nth-child(1) {
    top: 0;
  }
  .menu-line-item:nth-child(2) {
    top: 2.1333333333vw;
  }
  .menu-line-item:nth-child(3) {
    top: 4.2666666667vw;
  }
}

.loader-wrapper {
  position: fixed;
  inset: 0;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.loader-wrapper.is-done {
  opacity: 0;
  visibility: hidden;
}

.loader {
  width: 40px;
  height: 26px;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0 100%, var(--c) 50% 100%, var(--c) 100% 100%;
  background-size: 8px calc(100% - 4px);
  position: relative;
}

.loader:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000;
  left: 0;
  top: 0;
  -webkit-animation: l3-1 1.5s linear infinite alternate, l3-2 0.75s cubic-bezier(0, 200, 0.8, 200) infinite;
          animation: l3-1 1.5s linear infinite alternate, l3-2 0.75s cubic-bezier(0, 200, 0.8, 200) infinite;
}

@-webkit-keyframes l3-1 {
  100% {
    left: calc(100% - 8px);
  }
}

@keyframes l3-1 {
  100% {
    left: calc(100% - 8px);
  }
}
@-webkit-keyframes l3-2 {
  100% {
    top: -0.1px;
  }
}
@keyframes l3-2 {
  100% {
    top: -0.1px;
  }
}
.sec-mv {
  padding-top: 95px;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .sec-mv {
    padding-top: 6.5972222222vw;
  }
}
@media screen and (max-width: 767px) {
  .sec-mv {
    padding-top: 17.3333333333vw;
  }
}

.footer {
  background: #B72623;
  color: #fff;
  position: relative;
}
.footer-top {
  padding: 50px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .footer-top {
    padding: 3.4722222222vw 5.5555555556vw;
  }
}
@media screen and (max-width: 767px) {
  .footer-top {
    padding: 10.6666666667vw 4vw 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #fff;
  padding: 30px 80px;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .footer-bottom {
    padding: 2.0833333333vw 5.5555555556vw;
  }
}
@media screen and (max-width: 767px) {
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 8vw 4vw 4vw;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-top: none;
  }
}
.footer .logo .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  gap: 5px;
}
.footer .logo .link img {
  width: 35px;
}
.footer .logo .link .name {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .footer .logo .link {
    gap: 0.3472222222vw;
  }
  .footer .logo .link img {
    width: 2.4305555556vw;
  }
  .footer .logo .link .name {
    font-size: 1.1111111111vw;
  }
}
@media screen and (max-width: 767px) {
  .footer .logo .link {
    gap: 1.3333333333vw;
  }
  .footer .logo .link img {
    width: 9.3333333333vw;
  }
  .footer .logo .link .name {
    font-size: 4.2666666667vw;
  }
}
.footer .contact {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  margin-top: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .footer .contact {
    font-size: 1.1111111111vw;
    margin-top: 0.8333333333vw;
  }
}
@media screen and (max-width: 767px) {
  .footer .contact {
    font-size: 3.7333333333vw;
    margin-top: 2.6666666667vw;
  }
}
.footer .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.footer .menu-list .link {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .menu-list .link:hover {
  color: #F8A721;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .footer .menu-list {
    gap: 2.7777777778vw;
  }
  .footer .menu-list .link {
    font-size: 0.9722222222vw;
  }
}
@media screen and (max-width: 767px) {
  .footer .menu-list {
    gap: 4vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .menu-list .link {
    font-size: 3.4666666667vw;
  }
}
.footer .copy-right {
  font-size: 14px;
  color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .footer .copy-right {
    font-size: 0.9722222222vw;
  }
}
@media screen and (max-width: 767px) {
  .footer .copy-right {
    width: 100%;
    font-size: 3.2vw;
    text-align: center;
    position: relative;
    padding-top: 4vw;
    margin-top: 8vw;
  }
  .footer .copy-right::before {
    content: "";
    width: calc(100% + 8vw);
    height: 1px;
    background-color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.btn-to-top {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(183, 38, 35, 0.5);
  position: absolute;
  top: -61px;
  right: 80px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .btn-to-top {
    width: 4.1666666667vw;
    height: 4.1666666667vw;
    top: -4.2361111111vw;
    right: 5.5555555556vw;
  }
}
@media screen and (max-width: 767px) {
  .btn-to-top {
    width: 10.6666666667vw;
    height: 10.6666666667vw;
    top: -10.9333333333vw;
    right: 4vw;
  }
}
.btn-to-top:hover {
  background-color: rgb(183, 38, 35);
}
.btn-to-top:hover::before {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='21' viewBox='0 0 16 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.70711 0.292892C8.31658 -0.0976315 7.68342 -0.0976314 7.29289 0.292892L0.928932 6.65685C0.538407 7.04738 0.538407 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292892ZM8 21L9 21L9 1L8 1L7 1L7 21L8 21Z' fill='white'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width: 767px) {
  .btn-to-top:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.70711 0.292892C8.31658 -0.0976315 7.68342 -0.0976314 7.29289 0.292892L0.928932 6.65685C0.538407 7.04738 0.538407 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292892ZM8 21L9 21L9 1L8 1L7 1L7 21L8 21Z' fill='white'/%3E%3C/svg%3E%0A");
  }
}
.btn-to-top::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 21px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='21' viewBox='0 0 16 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.70711 0.292892C8.31658 -0.0976315 7.68342 -0.0976314 7.29289 0.292892L0.928932 6.65685C0.538407 7.04738 0.538407 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292892ZM8 21L9 21L9 1L8 1L7 1L7 21L8 21Z' fill='%23B72623'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .btn-to-top::before {
    width: 1.1111111111vw;
    height: 1.4583333333vw;
  }
}
@media screen and (max-width: 767px) {
  .btn-to-top::before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='16' viewBox='0 0 15 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.07112 0.292892C7.6806 -0.0976315 7.04743 -0.0976314 6.65691 0.292892L0.292945 6.65685C-0.0975789 7.04738 -0.0975789 7.68054 0.292946 8.07107C0.68347 8.46159 1.31663 8.46159 1.70716 8.07107L7.36401 2.41421L13.0209 8.07107C13.4114 8.46159 14.0446 8.46159 14.4351 8.07107C14.8256 7.68054 14.8256 7.04738 14.4351 6.65685L8.07112 0.292892ZM7.36401 16L8.36401 16L8.36401 0.999999L7.36401 0.999999L6.36401 0.999999L6.36401 16L7.36401 16Z' fill='%23B72623'/%3E%3C/svg%3E%0A");
    width: 4vw;
    height: 4.2666666667vw;
  }
}
/*# sourceMappingURL=style.css.map */