* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 1.6;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  body {
    font-size: 1.1111111111vw;
  }
}
@media screen and (max-width: 767px) {
  body {
    font-size: 3.7333333333vw;
    line-height: 1.4;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.pc {
  display: block;
}
@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .sp {
    display: block;
  }
}

.c-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-container {
  width: 1280px;
  margin: 0 auto;
}

.c-sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.c-sns-list .item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.c-sns-list .item:hover {
  background-color: #F8A721;
}
.c-sns-list .item-fb .link::before {
  width: 10px;
  height: 19px;
  background-image: url(../images/icon-fb-b.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.c-sns-list .item-fb .link:hover::before {
  background-image: url(../images/icon-fb-w.png);
}
.c-sns-list .item-chat .link::before {
  width: 20px;
  height: 20px;
  background-image: url(../images/icon-chat-b.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.c-sns-list .item-chat .link:hover::before {
  background-image: url(../images/icon-chat-w.png);
}
.c-sns-list .item-zalo .link::before {
  width: 25px;
  height: 10px;
  background-image: url(../images/icon-zalo-b.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.c-sns-list .item-zalo .link:hover::before {
  background-image: url(../images/icon-zalo-w.png);
}
.c-sns-list .item-phone .link::before {
  width: 15px;
  height: 15px;
  background-image: url(../images/icon-phone-b.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.c-sns-list .item-phone .link:hover::before {
  background-image: url(../images/icon-phone-w.png);
}
.c-sns-list .link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.c-sns-list .link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95px;
  padding: 0 40px;
  background: #fff;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .header {
    height: 6.5972222222vw;
    padding: 0 2.7777777778vw;
  }
}
.header .logo .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  gap: 5px;
}
.header .logo .link img {
  width: 35px;
}
.header .logo .link .name {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .header .logo .link {
    gap: 0.3472222222vw;
  }
  .header .logo .link img {
    width: 2.4305555556vw;
  }
  .header .logo .link .name {
    font-size: 1.1111111111vw;
  }
}
.header .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.header .menu .link {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .menu .link:hover, .header .menu .link.active {
  color: #B72623;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .header .menu {
    gap: 2.7777777778vw;
  }
  .header .menu .link {
    font-size: 0.9722222222vw;
  }
}

.loader-wrapper {
  position: fixed;
  inset: 0;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.loader-wrapper.is-done {
  opacity: 0;
  visibility: hidden;
}

.loader {
  width: 40px;
  height: 26px;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0 100%, var(--c) 50% 100%, var(--c) 100% 100%;
  background-size: 8px calc(100% - 4px);
  position: relative;
}

.loader:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000;
  left: 0;
  top: 0;
  -webkit-animation: l3-1 1.5s linear infinite alternate, l3-2 0.75s cubic-bezier(0, 200, 0.8, 200) infinite;
          animation: l3-1 1.5s linear infinite alternate, l3-2 0.75s cubic-bezier(0, 200, 0.8, 200) infinite;
}

@-webkit-keyframes l3-1 {
  100% {
    left: calc(100% - 8px);
  }
}

@keyframes l3-1 {
  100% {
    left: calc(100% - 8px);
  }
}
@-webkit-keyframes l3-2 {
  100% {
    top: -0.1px;
  }
}
@keyframes l3-2 {
  100% {
    top: -0.1px;
  }
}
.sec-mv {
  padding-top: 95px;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .sec-mv {
    padding-top: 6.5972222222vw;
  }
}

.footer {
  background: #B72623;
  color: #fff;
}
.footer-top {
  padding: 50px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #fff;
  padding: 30px 80px;
}
.footer .logo .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  gap: 5px;
}
.footer .logo .link img {
  width: 35px;
}
.footer .logo .link .name {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .footer .logo .link {
    gap: 0.3472222222vw;
  }
  .footer .logo .link img {
    width: 2.4305555556vw;
  }
  .footer .logo .link .name {
    font-size: 1.1111111111vw;
  }
}
.footer .address {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  margin-top: 12px;
}
.footer .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.footer .menu-list .link {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .menu-list .link:hover {
  color: #F8A721;
}
.footer .copy-right {
  font-size: 14px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */