// Social list
.c-sns-list {
  display: flex;
  align-items: center;
  gap: 20px;
  @include pc_middle {
    gap: vw_pc(20);
  }
  @include sp {
    gap: vw_sp(20);
    margin-top: vw_sp(30);
    &.is-humburger-menu {
      margin-top: vw_sp(20);
    }
  }
  .item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s;
    @include pc_middle {
      width: vw_pc(40);
      height: vw_pc(40);
    }
    @include sp {
      width: vw_sp(40);
      height: vw_sp(40);
    }
    &:hover {
      background-color: #F8A721;
      .icon {
        &.is-black {
          opacity: 0;
        }
        &.is-white {
          opacity: 1;
        }
      }
    }
    &-fb {
      .icon {
        width: 10px;
        @include pc_middle {
          width: vw_pc(10);
        }
        @include sp {
          width: vw_sp(10);
        }
      }
    }
    &-chat {
      .icon {
        width: 20px;
        @include pc_middle {
          width: vw_pc(20);
        }
        @include sp {
          width: vw_sp(20);
        }
      }
    }
    &-zalo {
      .icon {
        width: 25px;
        @include pc_middle {
          width: vw_pc(25);
        }
        @include sp {
          width: vw_sp(25);
        }
      }
    }
    &-phone {
      .icon {
        width: 15px;
        @include pc_middle {
          width: vw_pc(15);
        }
        @include sp {
          width: vw_sp(15);
        }
      }
    }
  }
  .link {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s;
    &.is-white {
      opacity: 0;
    }
  }
}

// Fixed contact
.c-fixed-contact {
  position: fixed;
  right: 10px;
  bottom: 10px;
  @include pc_middle {
    right: vw_pc(10);
    bottom: vw_pc(10);
  }
  @include sp {
    right: vw_sp(15);
    bottom: vw_sp(15);
  }
  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @include pc_middle {
      gap: vw_pc(20);
    }
    @include sp {
      gap: vw_sp(20);
    }
    .item {
      width: 55px;
      @include pc_middle {
        width: vw_pc(55);
      }
      @include sp {
        width: vw_sp(45);
      }
      img {
        animation-name: tada;
        animation-delay: 0s;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }
      @keyframes tada {
        0% {
          transform: scale(1);
        }
        10%, 20% {
          transform: scale(0.9) rotate(-3deg);
        }
        30%, 50%, 70%, 90% {
          transform: scale(1.1) rotate(3deg);
        }
        40%, 60%, 80% {
          transform: scale(1.1) rotate(-3deg);
        }
        100% {
          transform: scale(1) rotate(0);
        }
      }
      &.is-call {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #B72623;
        @include pc_middle {
          width: vw_pc(60);
          height: vw_pc(60);
        }
        @include sp {
          width: vw_sp(54);
          height: vw_sp(54);
        }
        .link {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          &::before {
            content: '';
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #B72623;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            @include pc_middle {
              width: vw_pc(50);
              height: vw_pc(50);
            }
            @include sp {
              width: vw_sp(50);
              height: vw_sp(50);
            }
          }
        }
        .img-wrap {
          width: 23px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          @include pc_middle {
            width: vw_pc(23);
          }
          @include sp {
            width: vw_sp(23);
          }
        }
      }
    }
  }
}