.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  padding: 0 40px;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s;
  @include pc_middle {
    height: vw_pc(95);
    padding: 0 vw_pc(40);
  }
  @include sp {
    height: vw_sp(65);
    padding: 0 vw_sp(15);
    z-index: 1;
  }
  .logo {
    .link {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 5px;
      img {
        width: 35px;
      }
      .name {
        font-size: 16px;
        font-weight: 700;
        color: #000;
      }
      @include pc_middle {
        gap: vw_pc(5);
        img {
          width: vw_pc(35);
        }
        .name {
          font-size: vw_pc(16);
        }
      }
      @include sp {
        gap: vw_sp(5);
        img {
          width: vw_sp(35);
        }
        .name {
          font-size: vw_sp(16);
        }
      }
    }
  }
  .menu {
    &-list {
      display: flex;
      gap: 40px;
    }
    .link {
      font-size: 14px;
      font-weight: 700;
      color:#000;
      text-decoration: none;
      transition: all 0.3s;
      &:hover,
      &.active {
        color: #B72623;
      }
    }
    @include pc_middle {
      &-list {
        gap: vw_pc(40);
      }
      .link {
        font-size: vw_pc(14);
      }
    }
    @include sp {
      width: 100%;
      max-height: 75vh;
      overflow-y: scroll;
      position: absolute;
      top: vw_sp(65);
      left: 0;
      padding: vw_sp(15);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
      &.is-open {
        opacity: 1;
        visibility: visible;
      }
      &-list {
        flex-direction: column;
        gap: 0;
        .item {
          &:not(:first-child) {
            border-top: 1px solid #000;
          }
        }
        .link {
          display: block;
          font-size: vw_sp(16);
          font-weight: 500;
          line-height: 1.6;
          padding: vw_sp(15) vw_sp(10);
        }
      }
    }
  }
}

.l-menu-overlay {
  @include sp {
    position: fixed;
    width: 100%;
    height: 100%;
    top: vw_sp(65);
    left: 0;
    background-color: rgb(248, 167, 33, 1);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    &.is-open {
      opacity: 1;
      visibility: visible;
    }
  }
}

.menu-line {
  @include sp {
    width: vw_sp(25);
    height: vw_sp(16);
    position: relative;
    &.is-open {
      .menu-line-item {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: vw_sp(8);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          top: vw_sp(8);
        }
      }
    }
    &-item {
      display: block;
      width: 100%;
      height: 1px;
      background-color: #000;
      position: absolute;
      left: 0;
      transition: all 0.3s;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: vw_sp(8);
      }
      &:nth-child(3) {
        top: vw_sp(16);
      }
    }
  }
}