.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  padding: 0 40px;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s;
  @include pc_middle {
    height: vw_pc(95);
    padding: 0 vw_pc(40);
  }
  .logo {
    .link {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 5px;
      img {
        width: 35px;
      }
      .name {
        font-size: 16px;
        font-weight: 700;
        color: #000;
      }
      @include pc_middle {
        gap: vw_pc(5);
        img {
          width: vw_pc(35);
        }
        .name {
          font-size: vw_pc(16);
        }
      }
    }
  }
  .menu {
    &-list {
      display: flex;
      gap: 40px;
    }
    .link {
      font-size: 14px;
      font-weight: 700;
      color:#000;
      text-decoration: none;
      transition: all 0.3s;
      &:hover,
      &.active {
        color: #B72623;
      }
    }
    @include pc_middle {
      gap: vw_pc(40);
      .link {
        font-size: vw_pc(14);
      }
    }
  }
}