header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: vw_pc(94);
  padding: 0 vw_pc(40);
  background: transparent;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 1000;
  transition: all 0.3s;
  .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: vw_pc(10);
    img {
      width: vw_pc(32);
    }
    .name {
      font-size: vw_pc(16);
      font-weight: 700;
      color: #222;
    }
  }
  .menu {
    display: flex;
    gap: vw_pc(30);
    a {
      font-size: vw_pc(20);
      font-weight: 500;
      color:#222;
      line-height: 1;
      text-decoration: none;
      position: relative;
      &::after {
        content: '';
        width: 0;
        height: vw_pc(4);
        background-color: currentColor;
        position: absolute;
        bottom: vw_pc(-17);
        left: 0;
        transition: all .3s;
      }
      &:hover,
      &.is-active {
        &::after {
          width: 100%;
        }
      }
    }
  }
}